################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADM_HW5/.vs/ADM_HW5/v15
/ADM_HW5/ADM_HW5.sln
/ADM_HW5/ADM_HW5.pyproj
